.title{
    text-align: center;
    color:#F5004F ;
    font-size: 15px;
    font-weight: 800;
    text-transform: uppercase;
    margin: 70px 0 30px;
}

.title h2{
    font-size: 32px;
    color:#F9E400;
    margin-top: 5px;
    text-transform: none;

}